<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ControlDeInventariosSCIR.Presentacion.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>

 
  <connectionStrings>
    <add name="SCIR_SistemaInventarioEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=spark-01\sqlexpress;initial catalog=SCIR_SistemaInventario;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <userSettings>
    <ControlDeInventariosSCIR.Presentacion.Properties.Settings>
      <setting name="SCIR_SistemaInventarioConnectionString" serializeAs="String">
        <value>Data Source=SPARK-01\SQLEXPRESS;Initial Catalog=SCIR_SistemaInventario;IntegratedSecurity=True;MultipleActiveResultSets=True;Application Name=EntityFramework</value>
      </setting>
    </ControlDeInventariosSCIR.Presentacion.Properties.Settings>
  </userSettings>
</configuration>
