<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ControlDeInventariosSCIR.Presentacion.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

 
  <connectionStrings>
    <add name="SCIR_SistemaInventarioEntities" connectionString="metadata=res://*/SCIRModel.csdl|res://*/SCIRModel.ssdl|res://*/SCIRModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=SCIR_SistemaInventario;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <applicationSettings>
    <ControlDeInventariosSCIR.Presentacion.Properties.Settings>
      <setting name="SCIR_SistemaInventarioConnectionString" serializeAs="String">
        <value>Data Source=.\SQLEXPRESS;Initial Catalog=SCIR_SistemaInventario;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework</value>
      </setting>
    </ControlDeInventariosSCIR.Presentacion.Properties.Settings>
  </applicationSettings>
</configuration>