<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SCIR_SistemaInventarioEntities" connectionString="metadata=res://*/SCIRModel.csdl|res://*/SCIRModel.ssdl|res://*/SCIRModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BENITO-HP\SQLEXPRESS;initial catalog=SCIR_SistemaInventario;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>